.eris-search{
	top: 20px;
	left: 20px;
	position: fixed;
	z-index: 5;

	& .input{
		width: 374px;
		border-color: transparent;
		box-shadow: 0px 14px 20px -14px #0000005c, 0px -6px 7px -6px #00000036;
		transition: 240ms ease-in-out;		
	}

	&-hidden{
		display: none;
	}

}

.eris-search-overlay .input{
	box-shadow: none;
}

.eris-search-reduced .input{
	background-color: var(--bg);
}