@import "../functions.scss";

.settings-type-list{
	width: 100%;
}
.settings-type-ranges{
	width: 100%;
	min-width: 240px;
	max-width: 500px;
}
.settings-type-list > .card{
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 14% );
}
.settings-type-list > .card > .card-body, .settings-type-list > .card > .card-header{
	padding: 10px 0px 0px 0px;
}

.settings-type-code{
	margin: 2px 0px;
	background-color: #302435;
	color: #d54660;
	border-left: 2px solid #da546d;
	padding: 2px 6px;
	white-space: nowrap;
	line-height: 1.2;
	letter-spacing: 0.1px;
	overflow: hidden;
	font-weight: bold;
	width: 100%;
	min-height: 20px;	

	&-small{
		max-width: 240px;
	}	
	&-editable{
		position: relative;
	}

}
.settings-type-text{

}
.float{
	padding: 4px 10px;
}
.settings-type-table{

	overflow-y: auto;
	padding-right: 4px;
	background: var(--gloss);

	&-mini{
	    max-height: 500px;
		padding-right: 8px;
	}

	& > table{
		//width: 100%;
		display: table;
		//overflow: hidden;
		border-collapse: collapse;
		border-radius: 6px;
		margin: 8px 0px 4px;
	}

	&-header{
		display: table-row;
		//background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 15% );

		& > th{
			display: table-cell;
			padding: 9px 10px 16px;
			line-height: 1.0;
			text-align: left;
		}
		& > th:first-child{
			padding-left: 15px;
		}

	}

	& > .button{
		margin: 4px;
	}

	&-content{
		display: table-footer-group;
	}

	&-row{
		display: table-row;
	}
	&-row:nth-child( odd ){
		//box-shadow: 0 0 1px #0000003b;
	}

	&-row:hover{
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 6% );
	}
	&-row-selected:hover{
		background-color: transparent;
	}

	&-cell{
		display: table-cell;
		padding: 2px 1px 2px;
		line-height: 1.0;
		min-width: 40px;
	}
	&-cell:first-child{
		padding-left: 6px;
	}

	&-row-selected > &-cell{
		display: none;
	}

	&-row:hover td{
		background-color: transparent;
	}
	&-row-selected{
		overflow-y: auto;
		//background-color: mix( var( --element-bg ), var( --element-accent ), calc(5% * var(--element-text-multi-sub)) ) !important;
	}

	&-row .card-header{
		display: none;
	}
	&-row .card-body > .row{
		//line-height: 2.4;
	}
	&-row .settings-type-params{
		overflow: hidden;
		transition: height 340ms ease-in-out;
		width: 1px;
	}		
	&-row .select{
		width: 100%;
	}		
	&-row .input{
		width: 100%;
	}	
	&-row-selected > td > .settings-type-params{
		//height: 500px;
		width: 100%;
		border-radius: 8px;
    	margin: 10px 0px;
		background-color: mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 13% ) !important;
		overflow: visible;
	}

}

.type-file-tooltip{
	min-width: 300px;
}
.type-file-tooltip-card{
	margin: 7px 0px;
    padding: 0px;
    box-shadow: none;
	border-left: 1px solid mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 40% ) !important;
}
.type-file-tooltip-card .card-body{
	padding: 2px 6px;
}

.toggle-inactive{
	cursor: inherit;
}