@use "../../assets/styles/functions.color.scss" as color;

.settings-type-params .input-inactive, .settings-type-params .select-inactive{
	background: transparent;
}

.settings-type-params{

	position: relative;

	&-content{
		overflow: visible auto;
		min-width: 420px;
		max-width: 800px;
		max-height: 800px;
	}
	&-header{
		color: color.mix( var( --element-text-flat ), var( --element-accent ), calc(7.5% * var(--element-text-multi-text)), 100% );
		border-bottom: 1px solid color.mix( var( --bg ), var( --light ), 50%, 100% );
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		padding: 8px 8px 8px 13px;
		gap: 10px;
		align-items: center;
	}
	&-bottom{
		position: relative;
		//background: #252525;
		//border-top-left-radius: 10px;
		//border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top: 1px solid color.mix( var( --bg ), var( --light ), 50%, 100% );
	}

	&-tools, &-tools-mini{
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
		position: relative;
		padding: 8px 8px;
		gap: 10px;

		& > *{
			cursor: pointer;
			box-shadow: 0 0 0;
		}

	}

	&-status{
		color: color.mix( var( --element-text-flat ), var( --element-accent ), calc(7.5% * var(--element-text-multi-text)), 50% );
		font-size: 14px;
		display: flex;
    	align-items: center;
		white-space: pre;

		&-success{
			color: color.mix( var( --element-text-flat ), var( --element-success ), calc(80.0% * var(--element-text-multi-text)), 50% );
		}
		&-failure{
			color: color.mix( var( --element-text-flat ), var( --element-alert ), calc(80% * var(--element-text-multi-text)), 50% );
		}

	}

	&-modal > .modal{
		border: 1px solid var( --element-border );
		background: var(--gloss);
		background-color: var(--bg);
		border-radius: 10px;
	}

	&-modal > .modal-content{
		margin: 0px;
		padding: 0px;
	}
	&-mini &-tools{
		display: none;
	}
	&-tools-mini{
		display: none !important;
	}
	&-mini &-tools-mini{
		display: flex !important;
	}
	&-system &-tools-mini > *:last-child, &-system &-tools > *:last-child{
		display: none;
	}
	&-mini .settings-type-text, &-mini .settings-type-code{
		width: 100%;
		white-space: pre-wrap;
		max-width: 100%;
	}

	&-modal .settings-type-params{
		margin: 0px;
	}
	&-modal .card-body > .row{
		//line-height: 2.4;
		display: flex;
		//justify-content: space-between;
		align-items: center;
		min-height: 32px;
		font-size: 14px;
		line-height: 2.1;
	}	
	&-modal .card-body > .column{
		display: flex;
		align-items: flex-start;
		min-height: 32px;
		font-size: 14px;
		flex-direction: column;
		flex-wrap: nowrap;
		line-height: 2.1;
	}		
	&-modal .card-header{
		padding-bottom: 11px;
		padding-top: 10px;
	}
	&-modal .card{
		padding: 6px 4px;
		margin: 0;
		border-radius: inherit;
		background: transparent;
		border: none;		
		box-shadow: none;		
	}
	&-modal .card-body{
		padding: 6px 10px;
	}

	&-left{
		white-space: nowrap;
		//width: 240px;
	}
	&-right{
		//width: 240px;
		width: 100%;
		//margin-left: 10px;
	}
	&-right > * > .input, &-right > * > .multiselect{
		width: 100%;
	}
	&-left > *, &-right > *{
		width: 100%;
	}

}

