@use "../../assets/styles/functions.color.scss" as color;

.ranges{
	position: relative;
    user-select: none;
    padding: 0px 0px;
    width: 100%;
    box-sizing: border-box;

	&-wrap{
		width: 100%;
		position: relative;
		margin-bottom: 18px;
	}

	&-gridless > &-wrap{
		padding-bottom: 8px;
	}		
	&-inactive > &-wrap{
		padding-bottom: 0px;
	}	
	&-separated &-item-bg{
		background: transparent;
	}
	&-inactive &-item, &-inactive &-line, &-inactive &-grid, &-inactive &-value, &-inactive &-list{
		display: none !important;
	}

	&-bg{
		position: absolute;
		left: 0px;
		top: 0px;
		right: -9px;
		bottom: 0px;
		z-index: 3;
	}

	&-list{
		position: relative;
		display: flex;
		height: 16px;
		padding: 0px 0px;
		margin: 0px 6px 0px 7px;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		z-index: 1;
	}

	&-value{
		position: absolute;
		color: color.mix( var( --element-bg ), var( --element-accent2 ), calc(90% * var(--element-text-multi-main)), 100% );
		left: 0%;
		margin-left: 14px;
		margin-top: 1px;

		&-flip{
			margin-left: -36px;
		}
		&-hidden{
			display: none;
		}

	}

	&-input{
		margin: 0px 0px 12px;
	}
	&-input-params{
		margin: 3px 2px 0px 12px;
	}

	&-item{
		position: absolute;
		flex-shrink: 0;
		flex-grow: 0;
		box-sizing: border-box;
		top: 2px;

		&-dot{
			position: relative;
			left: 0%;
			//border: 6px solid #ff00008f;
			width: 16px;
			height: 16px;
			margin-left: -8px;
			top: -2px;
			left: 0px;
			cursor: pointer;
			z-index: 1;
			transition: 120ms ease-in-out;

			& > span{
				background: color.mix( var( --element-bg ), var( --element-accent2 ), calc(90% * var(--element-text-multi-main)), 100% );
				position: absolute;
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				margin: 2px;
				border-radius: 50%;
			}

		}
		&-dot:hover > span{
			background-color: color.mix( var( --element-bg ), var( --element-accent2 ), calc(50% * var(--element-text-multi-main)), 100% );
		}
		&-bg{
			background-color: color.mix( var( --element-bg ), var( --element-accent2 ), calc(90% * var(--element-text-multi-main)), 50% );
			position: absolute;
			height: 4px;
			width: 100%;
			top: 4px;
		}

	}


	&-radial &-item{
		left: 0px !important;
		top: 0px !important;
		width: 100% !important;
		height: 100% !important;
		--offset: 45deg;
		--percentage: 50%;
		background: conic-gradient(from var(--offset), color.mix( var( --element-bg ), var( --element-accent2 ), calc(90% * var(--element-text-multi-main)), 50% ) 0% var(--percentage), transparent var(--percentage) 100%);
		border-radius: 50%;
	}

	&-radial &-wrap{
		width: 80px;
		height: 80px;
	}	
	&-medium &-wrap{
		width: 120px;
		height: 120px;
	}	
	&-large &-wrap{
		width: 180px;
		height: 180px;
	}
	&-radial &-list{
		border-radius: 50%;
		width: 100%;
		height: 100%;	
		background: color.mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 14% );
	}
	&-radial &-line, &-radial &-item-bg{
		display: none !important;
	}
	&-radial &-item-dot{
		top: 0px;
		left: 0px;
		--angle: -90deg;
		--radius: 50%;
		margin-top: calc(50% - 8px + sin(var(--angle)) * var(--radius));
		margin-left: calc(50% - 8px + cos(var(--angle)) * var(--radius));
	}
	&-radial-bg{
		display: none;
		position: absolute;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		top: 4px;
		left: 4px;
		background: #3c3c3c;
		padding: 0px 0px;
		border-radius: 50%;
		z-index: 1;
	}
	&-radial &-radial-bg{
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		color: color.mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 50% );
	}

	&-line{
		background: color.mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 14% );
		position: absolute;
		height: 4px;
		width: 100%;
		top: 6px;
		left: 0px;
		z-index: 0;
	}
	&-grid{
		position: absolute;
		left: 0px;
		right: 0px;
		height: 8px;
		z-index: 2;
		pointer-events: none;
		top: 10px;
		margin-left: 5px;
		margin-right: 8px;

		&-mark{
			position: absolute;
			left: 0%;
			border-left: 2px solid color.mix( var( --element-bg ), var( --element-accent ), calc(90% * var(--element-text-multi-main)), 14% );
			height: 100%;
			top: 0px;
			width: 0px;
			display: flex;
			justify-content: center;		

			& > span{
				position: relative;
				top: 9px;
				opacity: 0.5;
			}

		}

	}

	&-radial &-grid{
		left: 0px;
		right: 0px;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		top: 0px;
		margin-left: 10px;
		margin-right: 0px;
		margin-top: 0px;
	}
	&-radial &-grid-mark{
		--radius: 50%;
		--angle: 0deg;
		--angleR: 0deg;
		transform: rotate(var(--angleR));
		height: 8px;
		top: calc(50% - 0px + sin(var(--angle)) * var(--radius));
		left: calc(50% - 0px + cos(var(--angle)) * var(--radius));
	}
	&-radial &-wrap{
		margin-bottom: 0px;
	}	
	&-wrap-flip{
		margin-top: 12px;
		margin-bottom: 12px !important;
		margin-right: 12px;
		margin-left: 12px;
	}
	&-radial &-grid-mark > span{
		top: 13px;
	}
	&-wrap-flip &-grid-mark > span{
		top: -16px;
	}
	&-radial &-value{
		display: none;
	}

}